//
// user-variables.scss
// Use this to overwrite Bootstrap and theme variables
//

// Example of a variable override to change theme's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;
$black-dark: #17222d !default;
$primary: #2ea6ff !default;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(./assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
}
$font-family-sans-serif: 'Open Sans', sans-serif !default;
